<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system.xsd">
    <system>
        <tab id="giant" translate="label" sortOrder="300">
            <label>Giant</label>
        </tab>

        <section id="giant_checkout" translate="label" type="text" sortOrder="100" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Giant Checkout</label>
            <tab>giant</tab>
            <resource>Giant_Checkout::giant_checkout</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>General</label>

                <field id="bicycle_category_ids" translate="label comment" type="text"
                       sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bicycle Category IDs</label>
                    <comment>Comma-separated Magento category IDs that contain bicycles. Used to show the distributor selection step.</comment>
                </field>

                <field id="bicycle_attribute_code" translate="label comment" type="text"
                       sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bicycle Product Attribute Code</label>
                    <comment>Alternative: attribute code on the product to identify bicycles.</comment>
                </field>

                <field id="bicycle_attribute_value" translate="label comment" type="text"
                       sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bicycle Attribute Value</label>
                    <comment>Expected value of the attribute above that identifies a bicycle.</comment>
                </field>

                <field id="show_price_warning" translate="label comment" type="select"
                       sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show "Prices may vary" Warning</label>
                    <comment>Displays a warning box in the order summary (recommended for Mexico stores).</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
