<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="GiantBikeRegistrationGridCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">giant_bike_registration</argument>
            <argument name="resourceModel" xsi:type="string">Giant\BikeRegistration\Model\ResourceModel\Registration</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="giant_bikeregistration_listing_data_source" xsi:type="string">GiantBikeRegistrationGridCollection</item>
            </argument>
        </arguments>
    </type>
</config>
