& when (@media-common = true) {
    //
    //  Header
    //  ---------------------------------------------
    .page-header {
        .lib-css(background-color, @header__background-color);
        border-bottom: none;
        margin-bottom: 0;
    }

    .header {
        &.content {
            &:extend(.abs-add-clearfix all);
            padding-top: @indent__s;
            position: relative;
        }
    }
}
//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .header {
        &.panel {
            > .header.links {
                float: right;
                font-size: 0;
                .lib-list-inline();
                margin-left: auto;

                > li {
                    font-size: @font-size__base;
                    margin: 0 0 0 15px;

                    &.welcome,
                    a {
                        line-height: 1.4;
                    }

                    &.welcome {
                        a {
                            .lib-css(padding-left, @indent__xs);
                        }
                    }
                }
            }
        }

        &.content {
            &:extend(.abs-add-clearfix-desktop all);
            padding: @indent__l @indent__base 0;
        }
    }

    .page-header {
        border: 0;
        margin-bottom: 0;

        .panel.wrapper {
            border-bottom: 1px solid @secondary__color;
        }

        .header.panel {
            &:extend(.abs-add-clearfix-desktop all);
            padding-bottom: @indent__s;
            padding-top: @indent__s;
        }
    }
}